body{
    height: 100vh;
    width: 90%;
    background-image: linear-gradient(to right top, #130031, #070017);
}
a{
    cursor: pointer;
}
::selection{
    background: #6200ff;
    color: #ffffff;
}

.bgBox{
    min-height: 210vh; /*INCREASE BY 50vh PER UPDATE (LIM.=210vh)*/
    width: 98%;
    background-image: radial-gradient(#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 45%;
}
.textTitle{
    position: absolute;
    top: 2%;
    left: 2%
}

.bgLog1{ /*update 1*/
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 130%; /*EDIT THIS TO CHANGE UPDATE X-POS (34% + 24%n), LIM.=5*/
    left: 50%;
    transform: translate(-50%, -50%);
}
.textLog1-1{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textLog1Time{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    top: 130%;
}

.bgLog2{ /*update 2*/
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 106%; /*EDIT THIS TO CHANGE UPDATE X-POS (34% + 24%n), LIM.=5*/
    left: 50%;
    transform: translate(-50%, -50%);
}
.textLog2-2{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textLog2Time{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    top: 130%;
}

.bgLog3{ /*update 3*/
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 82%; /*EDIT THIS TO CHANGE UPDATE X-POS (34% + 24%n), LIM.=5*/
    left: 50%;
    transform: translate(-50%, -50%);
}
.textLog3-3{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textLog3Time{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    top: 130%;
}

.bgLog4{ /*update 4*/
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 58%; /*EDIT THIS TO CHANGE UPDATE X-POS (34% + 24%n), LIM.=5*/
    left: 50%;
    transform: translate(-50%, -50%);
}
.textLog4-4{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textLog2Time{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    top: 130%;
}

.bgLog5{ /*update 5*/
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 34%; /*EDIT THIS TO CHANGE UPDATE X-POS (34% + 24%n), LIM.=5*/
    left: 50%;
    transform: translate(-50%, -50%);
}
.textLog5-5{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textLog2Time{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    top: 130%;
}

.bgPages{ /*home bar*/
    height: 100px;
    width: 80%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: fixed;
    bottom: -6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*device compatability*/

@media (max-width: 600px){
    .textTitle{
        position: absolute;
        top: 0%;
        left: 2%;
    }
    .bgLog5{ /*pos 5*/
        min-height: 35%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 41.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .bgLog4{ /*pos 4*/
        min-height: 35%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .bgLog3{ /*pos 3*/
        min-height: 35%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 118.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .bgLog2{ /*pos 2*/
        min-height: 35%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 157%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .bgLog1{ /*pos 1*/
        min-height: 35%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 195.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .textLog3Time{
        top: 109%;
    }
    .textLog2Time{
        top: 150%;
    }
    .textLog1Time{
        top: 120%;
    }
    .bgPages{
        height: 50px;
        bottom: -3.25%;
    }
    .bgPages span{
        font-size: 20px !important;
    }
}

@media (max-width: 450px){
    .textTitle{
        position: absolute;
        top: 0%;
        left: 2%;
    }
    .bgLog5{ /*pos 5*/
        min-height: 30%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .textLog5-5 span{
        font-size: 17px !important;
    }
    .bgLog4{ /*pos 4*/
        min-height: 30%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .textLog4-4 span{
        font-size: 17px !important;
    }
    .bgLog3{ /*pos 3*/
        min-height: 30%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 101%; /*EDIT THIS TO CHANGE UPDATE X-POS (34% + 24%n), LIM.=5*/
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .textLog3-3 span{
        font-size: 17px !important;
    }
    .bgLog2{ /*pos 2*/
        min-height: 30%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 134%; /*EDIT THIS TO CHANGE UPDATE X-POS (34% + 24%n), LIM.=5*/
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .textLog2-2 span{
        font-size: 17px !important;
    }
    .bgLog1{ /*pos 1*/
        min-height: 30%;
        width: 95%;
        background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 167%; /*EDIT THIS TO CHANGE UPDATE X-POS (34% + 24%n), LIM.=5*/
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .textLog1-1 span{
        font-size: 17px !important;
    }
    .textLog3Time{
        top: 109%;
    }
    .textLog2Time{
        top: 107%;
    }
    .textLog1Time{
        top: 120%;
    }
    .bgPages{
        height: 75px;
        bottom: -6%;
    }
    .bgPages span{
        font-size: 23px !important;
    }
}
