body{
    height: 100vh;
    width: 90%;
    background-image: linear-gradient(to right top, #130031, #070017);
}
a{
    cursor: pointer;
}
::selection{
    background: #6200ff;
    color: #ffffff;
}

.bgBox{
    min-height: 100vh;
    width: 98%;
    background-image: radial-gradient(#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 45%;
}
.textTitle{
    position: absolute;
    top: 2%;
    left: 2%
}

.bgLog3{
    min-height: 95%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 71.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textLog3-3{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textLog3Time{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    top: 130%;
}
.img1 img{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
}

.bgPages{
    height: 100px;
    width: 80%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: fixed;
    bottom: -6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*device compatability*/

@media (max-width: 450px){
    .textTitle{
        top: 0%;
        left: 2%;
    }
    .bgLog4{
        height: 30%;
        top: 70%;
    }
    .textLog4-4 span{
        font-size: 17px !important;
    }
    .textLog4Time{
        top: 210%;
    }
    .img1 img{
        height: 90%;
        width: 90%;
    }
    .bgPages{
        height: 75px;
        bottom: -6%;
    }
    .bgPages span{
        font-size: 23px !important;
    }
}
