body{
    height: 100vh;
    width: 90%;
    background-image: linear-gradient(to right top, #130031, #070017);
}
a{
    cursor: pointer;
}
::selection{
    background: #6200ff;
    color: #ffffff;
}

.bgBox{
    min-height: 170vh;
    width: 98%;
    background-image: radial-gradient(#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 45%;
}
.textTitle{
    position: absolute;
    top: 2%;
    left: 2%
}

.bgBio1{
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textBio1{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textBio1:hover{
    color: #ffff00;
    transition: 0.5s;
}
.textBio1 a:hover{
    color: #ff0000;
    transition: 0.5s;
}
.bgBio2{
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textBio2{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textBio2:hover{
    color: #97bcff;
    transition: 0.5s;
}
.textBio2 a:hover{
    color: #e600ff;
    transition: 0.5s;
}
.bgBio3{
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textBio3{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textBio3:hover{
    color: #7ad3a5;
    transition: 0.5s;
}
.textBio3 a:hover{
    color: #9b73f1;
    transition: 0.5s;
}
.bgBio4{
    min-height: 20%;
    width: 95%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 106%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textBio4{
    color: rgba(255, 255, 255, 255);
    position: absolute;
    left: 0.5%;
    top: 2%;
}
.textBio4:hover{
    color: #dac3ff;
    transition: 0.5s;
}
.textBio4 a:hover{
    color: #b07fff;
    transition: 0.5s;
}

.bgPages{
    height: 100px;
    width: 80%;
    background-image: linear-gradient(to right top,#5a5a5a, #2a2a2a);
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: fixed;
    bottom: -6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*device compatability*/

@media (max-width: 450px){
    .textTitle{
        top: 0%;
        left: 2%;
    }
    .bgBio1{
        height: 45%;
        top: 43%;
    }
    .textBio1 span{
        font-size: 19px !important;
    }
    .bgBio2{
        height: 45%;
        top: 92%
    }
    .textBio2 span{
        font-size: 19px !important;
    }
    .bgBio3{
        height: 45%;
        top: 141%;
    }
    .textBio3 span{
        font-size: 19px !important;
    }
    .bgBio4{
        height: 45%;
        top: 190%;
    }
    .textBio4 span{
        font-size: 19px !important;
    }
    .bgPages{
        height: 75px;
        bottom: -6%;
    }
    .bgPages span{
        font-size: 23px !important;
    }
}
